mixin auctionItem(item, isActive, isCarousel)
    div(class='offer-item' + (isCarousel ? ' swiper-slide' : ''))
        .offer-item__header
            .offer-item__img
                if isCarousel
                    img.swiper-lazy(data-src=require('../images/offers/' + item.img) alt=item.title width='96' height='80')
                else
                    img(src=require('../images/offers/' + item.img) alt=item.title)
            .offer-item__header-body
                .offer-item__buyer= item.buyer
                a.offer-item__title(href="/offer-detail")= item.title
            .offer-item__responded= item.responded
        .characteristics.characteristics--small
            .characteristics__item.characteristics__item--gender
                .characteristics__item-title Пол особи
                .characteristics__item-value= item.feature.gender
            .characteristics__item.characteristics__item--weigh
                .characteristics__item-title Диапазон ЖВ
                .characteristics__item-value= item.feature.weigh
            .characteristics__item.characteristics__item--fertility
                .characteristics__item-title Количество голов
                .characteristics__item-value= item.feature.fertility
            .characteristics__item.characteristics__item--date
                .characteristics__item-title Срок завершения торгов
                .characteristics__item-value= item.feature.date
            .characteristics__item.characteristics__item--location
                .characteristics__item-title Расположение
                .characteristics__item-value= item.feature.location
            .characteristics__item.characteristics__item--price-burse
                .characteristics__item-title Мин. цена за кг ЖВ
                .characteristics__item-value.characteristics__item-value--bg= item.feature.minPrice
        .offer-item__footer
            button.btn.btn--primary.btn--cart(type='button') Сделать ставку
                .btn__ico
                    include ../../images/svg-sprite/responded.svg
            button(class='offer-item__favorite btn-favorite' + (isActive ? ' btn-favorite--active' : ''))

