mixin productItem(item, isActive, outOfStock, isCarousel)
    div(class='product-item' + (isCarousel ? ' swiper-slide' : ''))&attributes(attributes)
        button(class='product-item__favorite btn-favorite' + (isActive ? ' btn-favorite--active' : ''))
        .product-item__img
            if isCarousel
                img.swiper-lazy(data-src=require('../images/product/' + item.img) alt=item.title width='192' height='160')
            else
                img(src=require('../images/product/' + item.img) alt=item.title)
        a.product-item__title= item.title
        .characteristics.characteristics--small
            .characteristics__item.characteristics__item--gender
                .characteristics__item-title Пол особи
                .characteristics__item-value= item.feature.gender
            .characteristics__item.characteristics__item--weigh
                .characteristics__item-title Диапазон ЖВ
                .characteristics__item-value= item.feature.weigh
            .characteristics__item.characteristics__item--fertility
                .characteristics__item-title Плодовитость
                .characteristics__item-value= item.feature.fertility

        if item.outOfStock
            .product-item__footer.product-item__footer--out-of-stock
                button.btn.btn--primary.btn--out-of-stock(disabled type='button') Нет в наличии
                .product-item__price #{item.price}₽

        else if isActive
            .product-item__footer
                .quantity
                    button.quantity__btn.quantity__btn--minus(tabindex='-1')
                        include ../../images/svg-sprite/minus.svg
                    input.quantity__value(type='text' value='1' inputmode='numeric')
                    button.quantity__btn.quantity__btn--plus(tabindex='-1')
                        include ../../images/svg-sprite/plus.svg
                .product-item__price #{item.price}₽
        else
            .product-item__footer
                button.btn.btn--primary.btn--cart(type='button') В корзину
                    .btn__ico
                        include ../../images/svg-sprite/cart.svg
                .product-item__price #{item.price}₽

